@page
@model ProgrammingLanguages.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<h1>About Us</h1>

<p>Hello! We are Shrey Patel and Khushdeep Kaur Chilotra from group 09.</p>

<h2>Project Development Details</h2>
<p>We worked together on this project as part of our ASP.NET Core MVC assignment. The goal was to build a web application that demonstrates our skills in using ASP.NET Core, JSON Web API, and MVC design pattern.</p>
<p>Throughout the development process, we carefully planned the folder structure, model, controller, and view components of our application to ensure a well-organized and functional project.</p>
<p>We created a JSON data file containing information about various programming languages and used the ProgrammingService to read and deserialize this data.</p>
<p>In the Razor pages, we used C# to iterate through the JSON data and display it on the web pages. The foreach loop helped us display each programming language along with its details, including an image and a link to the official website.</p>
<p>Moreover, we implemented a separate "About Us" page to showcase our names and provide a summary of how we achieved this project.</p>
<p>Overall, this project allowed us to gain hands-on experience in ASP.NET Core, JSON, MVC, and other web development concepts. We look forward to exploring more web technologies in the future.</p>
